.figtree-font {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500, 800;
    font-style: normal;
  }

html, body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

button {
    background-color:hsl(47, 88%, 63%);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: 800;
}

.content-description {
    font-size: 18px;
    line-height: 1.5;
    color: hsl(0, 0%, 42%);
}

.main-image {
    border-radius: 10px;
    margin-bottom: 15px;
}

.course-title {
    font-size: 26px;
}

.course-title:hover {
    color:hsl(47, 88%, 63%);
}

.author-info {
    display: flex;
    flex-direction: row;
}

.author-headshot {
    height: 10%;
    width: 10%;
    margin-right: 20px;
    margin-top: 6px;
}

.author-name {
    font-weight: 800;
}


@media(max-width: 600px){
    main {
        width: 20rem;
        height: 32rem;
    }
    .main-image{
        width: 100%;
    }
}
@media(min-width: 600px){
    main {
        width: 25rem;
        height: 35rem;
    }

    .main-image{
        width: 100%;
    }
}
